{% extends "base.html" %}
{% import "macros/components.html" as components %}

{% block content %}
<section class="flex flex-col w-full px-4 py-12 light">
  {{ components::section_header(id=section.title | slugify, content=section.title | upper) }}
  <div class="flex flex-col max-w-screen-xl w-full m-auto align-content-center p-2 md:p-0">
    {{ section.content | safe }}
    <!-- TODO: Use pagination -->
    {% for page in section.pages %}
    <li><a href="{{ page.path | safe }}">{{ page.title }}</a></li>
    {% endfor %}
  </div>
</section>
{% endblock content %}
