{% extends "base.html" %}
{% import "macros/components.html" as components %}

{% block content %}
<style type="text/css">
  main h2 {
    margin-top: 4rem !important;
  }

  p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  p:has(> img) {
    text-align: center;
    margin-top: 2rem;
  }

  p > img {
    height: 2.5rem;
    padding-left: 0.05rem;
    padding-right: 0.05rem;
    display: inline-block;
  }
</style>

<section class="flex flex-col w-full px-4 py-8 light">
  {{ components::section_header(id=page.title | slugify, content=page.title | upper) }}
  <div class="flex flex-col max-w-screen-xl w-full m-auto align-content-center p-2 md:p-0">
    {{ page.content | safe }}
  </div>
</section>
{% endblock content %}
